/* src/pages/Contact/Contact.css */

.contact-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 250px;
}

.contact-page h1 {
  font-size: 2em;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.contact-info {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-info p {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.facebook-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  padding: 10px 20px;
  background-color: #3b5998; /* Azul típico de Facebook */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.facebook-link:hover {
  background-color: #333;
}

.facebook-icon {
  width: 24px;
  height: 24px;
}
