/* src/components/Footer/Footer.css */

.footer {
  text-align: center;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  border-top: 1px solid #444444;
}

.footer-logo {
  margin-bottom: 10px;
}

.footer-logo img {
  width: 80px; /* Ajusta el tamaño del logo */
  max-width: 100%; /* Para asegurar que se adapta en dispositivos más pequeños */
  height: auto;
}

.footer p {
  margin: 10px 0;
  color: #cccccc;
}

.footer .social-media {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer .social-media a {
  color: #ff5722;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .social-media a:hover {
  color: #ffffff;
}

/* Responsividad */
@media (max-width: 768px) {
  .footer .social-media {
    flex-direction: column;
    gap: 10px;
  }

  .footer .social-media a {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .footer p {
    font-size: 14px;
  }

  .footer .social-media a {
    font-size: 14px;
  }
  .footer-logo img {
    width: 60px; /* Reduce el tamaño del logo en pantallas más pequeñas */
  }
}